/* Header ko CSS xa all                                                       */


/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style the navbar */
.navbar {
    background-color: #e2bcbc;
    color: #1a1813;
    padding: 10px;
}

/* Style the container to control width and center content */
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style the navbar brand (h1) */
.navbar-brand {
    text-decoration: none;
    color: #130808;
    font-size: 1.5em; 
    margin: 0;
}

/* Style the right-side content */
.navbar span {
    display: flex;
    align-items: center;
}

.navbar i {
    margin: 0 5px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:last-child {
    margin-right: 0;
}




/* Aaba Main Ko CSS xa */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash {
    background-color: #f7f3f3ac;
    color: #210202;
    padding: 10px;
    margin: 10px 0;
}

.board {
    display: flex;
    justify-content: space-between;
    width: 50%; 
    background-color: brown;
}

.board a {
    text-decoration: none;
    color: #dec4c4; 
    padding: 5px 10px;
    background-color: #fff; 
    border-radius: 5px;
}


.board a:first-child {
    margin-right: 5px;
    background-color: brown;
}
.board a:last-child{
    background-color: brown;
}

