/* user.css */

/* Apply styles to the table */
table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

/* Style the table header */
table th {
    background-color: #f2f2f2;
}

/* Style the delete link */
.anchor a {
    text-decoration: none;
    color: red;
    cursor: pointer;
}

/* Apply margin top to the container */
.container {
    margin-top: 5px;
    float: left; /* Position the container div to the left */
    width: 70%; /* Adjust the width as needed */
}

/* Position the total div to the right of the container */
.total {
    float: right; /* Position the total div to the right */
    width: 120px; /* Set the width as needed */
    height: 40px; /* Set the height as needed */
    text-align: center;
    line-height: 40px; /* Vertical centering */
    margin-top: 15px;
    margin-right: 40px;
}


