.container {
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
}

.col {
    text-align: center;
    margin-bottom: 5px;
}

h1 {
    color: red;

    @media (min-width: 992px) {
        .col {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

/* make thead css  */

thead {
    background-color: #dc3545;
    color: white;
    font-size: 1.25rem;
}


@media (max-width: 576px) {
    .col-fluid {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .col-fluid {
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-fluid {
        width: 75%;
    }
}

table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    text-align: center;
    padding: 8px;
}

.row-fluid {
    display: flex;
}

.row-fluid>* {
    margin: 0 auto;
}

.btn-warning,
.btn-danger {
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 20px;
}

.btn-warning {
    background-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-warning:hover,
.btn-danger:hover {
    opacity: 0.8;
}


.col-lg-3 {
    text-align: center;
}

.danger {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}